.v-hide
{
	visibility: hidden;
}

.v-show
{
	visibility: visible;
}

#app {
  background: #eee;
}

#header {
  height: 80px;
  background: white;
  margin-bottom: 32px;
  padding: 0 108px;

  #logo {
    font-size: 16px;
    height: 80px;
    line-height: 80px;

    img {
      width: 40px;
      margin-right: 12px;
    }
  }

  #menu {
    font-size: 14px;
    height: 79px;
    line-height: 79px;
    border: 0;
  }
}

.main-wrapper {
  background: white;
  margin: 0 108px;
  border-radius: 4px;
  padding: 24px 0 0;
  margin-bottom: 24px;
}
